$header-height: 64px;
$content-max-width: 900px;

.header__container {
  border: 3px solid lightcoral;
  width: 100%;
  height: $header-height;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  background: #fcfcfc;

  // @media (max-width: 900px) {
  //   box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  // }
}

.header {
  height: $header-height;
  width: 100%;
  // max-width: $content-max-width;

  padding: 0px 16px;

  display: flex;
  // justify-content: space-between;
  align-items: center;

  border: 3px solid lightskyblue;
}

.header__logo {
  height: 32px;
  margin-right: auto;
}

.header__lk {
  margin-left: auto;
}

.header__search__bar {
  width: 500px;
  height: 42px;
  border: 3px solid #77bcbd;
  border-radius: 15px;
  outline: none;
  // background: #f9f0da;
  // color: #9e9c9c;
}
