$header-height: 64px;
$header-background: #fcfcfc;

* {
  box-sizing: border-box;
}

.header__container {
  width: 100%;
  height: $header-height;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  background: $header-background;
}

.header {
  height: $header-height;
  width: 100%;

  padding: 0px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  height: 32px;
}

.header__lk {
  white-space: nowrap;
}

.header__search__bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}
.header__search__bar input {
  max-width: 500px;
  height: 42px;
  width: 100%;

  padding: 0px 10px;

  outline: none;
  border: 2.2px solid #77bcbd;
  border-radius: 20px;

  background: $header-background;
}
