.leader__board__container {
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}

.leader__board {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 32px;

  font-family: "Roboto";
}

.leader__board__title {
  font-weight: 700;
}

.leader__board img {
  // padding-top: 100px;
}

.leader__circles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .leader__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    // border: 7.5px outset gold;
  }

  p {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    // background-color: lightblue;
  }

  img {
    height: 80%;
    width: 80%;
    // background-color: lightblue;
  }
}
.top__leader {
  margin-bottom: 100px;
}
.M1 {
  border: 5.5px outset gold;
  // margin-bottom: 100px;
}

.M2 {
  border: 5.5px outset silver;
  // margin-bottom: 50px;
}

.M3 {
  border: 5.5px outset rgb(184, 115, 51);
}
