* {
    font-family: Roboto;
}

.profile__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    // margin-right: 16px;
    // margin-left: 10px;
    // font-size: 14px;
    // color: #1D1B17;
}

.profile__info {
    display: flex;
    flex-direction: column;
}

.paragraph__about {
    width: 400px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.profile__nickname {
    font-size: 57px;
    // border: 2px solid black;
}

.profile__top {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    gap: 20px
}

.profile__main__block {
    padding: 40px 50px;
    width: 100%;
    // border: 2px solid lightcoral;
    display: flex;
    // flex-wrap: wrap;
    gap: 50px;

    align-items: flex-start;
}

.profile__block {
    max-width: 30%;
    width: 100%;
    // min-width: 100px;

    display: flex;
    flex-direction: column;
    // align-items: center;

    gap: 30px;

    // border: 2px solid lightblue;

    background: #F4F4F4;
border-radius: 16px;

    padding: 14px;
}

.profile__block__title {
    font-size: 16px;
    color: #49454F;
    padding-left: 14px;
    
}

.profile__block__element {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 14px;

    font-weight: 300;

    gap: 20px;
    color: #49454F;
}

.profile__money {
    font-size: 56px !important;
}
