* {
    font-family: Roboto;
}

$bg_donate: #FFDAD5;

.flex__donate__column {
    display: flex;
    flex-direction: column;
}

.flex__donate__row {
    display: flex;
}

.main__container {
    height: 746px;
    border: 2px solid black;
}

.main__info__container {
    width: 70%;
    margin-left: 124px;
    // border: 2px solid black;
}

.donate__user {
    padding-top: 10px;
    padding-left: 120px;
    // border: 2px solid black;
}

.main__info {
    // border: 2px solid black;
    align-items: center;
}

.avatar_donate {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // border: 2px solid black;
    margin-right: 16px;
    margin-left: 10px;
    font-size: 14px;
    color: #1D1B17;
}

.Nickname {
    font-size: 57px;
    // border: 2px solid black;
}

.extra__info__container {
    border: 2px solid black;
    background: $bg_donate;
    width: 40%;
}